.business-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}

.category{
    
    border-right: 1px solid rgb(114, 202, 56);
}

.detail-categories{
    background-color: greenyellow;
    border: 1px solid rgb(114, 202, 56);
}
.row1{
    display: flex;
}

.button-text{

    margin: 0;
}
.products-card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 55%;
    height: 60%;
    margin-left: 3%;
    margin-top: 2%;
    background-color: rgb(233,233,233);
    box-shadow: 5px 5px 5px black;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

.products-container{
    height: 92%;
    width: 90%;
    margin: 0;
    overflow-y: scroll;
    background-color: white;
}

.product-text{
    margin:0;
    height:2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.title{
    width: 100%;
    height: 8%;
    margin: 0;
    background-color: rgba(119, 182, 143, 0.822);
}

.button{
    height: 7%;
    width: 30%;
}
.last-tickets-generated{
    display: flex;
    width: 30%;
    height: 60%;
    margin-top: 2%;
    margin-left: 6%;
    background-color: rgb(233,233,233);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px black;
}

.add-sold-item-button{
    margin-left: 10%;
    max-height:25px;
    min-width: none;
}
.add-sold-item{

    margin:0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    height: min-content;
    max-width: 935px;
    width:100%;
    background-color:rgb(233,233,233);
    box-shadow: 5px 5px 5px black;
}

.add-sold-item-title{
    margin: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(119, 182, 143, 0.822);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

.new-sale-component{
    display: flex;
    min-width: none;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.form-container{

    display: flex;
    width: 100%;
    padding-top: 1%;
    min-width: none;
    justify-content: flex-start;
    align-items: center;
    height: min-content;
}

.button-container{

    display: flex;
    height: 100%;
    justify-content: center;

}

.new-sold-item-error{
    margin: 0;
    display: none;
    color: red;
}

.new-sale-input{
    height: min-content;
    width: 50%;
    min-width: none;
}