
.sale-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: none;
    height:min-content;
    min-width: none;

}

.sold-name{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

.sold-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.sold-total-price{
    width: 20%;
    display:flex;
    justify-content: flex-start;
}

.sold-product-time{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 40%;
    font-size: small;
    overflow-x:hidden;
}

.time{
    margin: 0;
    margin-left: 46.5%;
}

.sale-name{
    margin: 0;
    margin-left:20%;
}
.sale-price{
    margin:0;
    margin-left:41.5%;
}