
.sale-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: none;
    height:min-content;
    min-width: none;

}

.sold-name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21%;
}

.sold-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.sold-unit-price{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.sold-total-price{
    width: 20%
}

.sold-product-time{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 19%;
    max-width: 25%;
    font-size: small;
    overflow-x:hidden;
}

.time{
    margin: 0;
    margin-left:13%;
}