.product-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.product-p{
    margin: 0;
    padding: 0;
}
.product-name{
    width: 25%;
    display:flex;
    justify-content: flex-start;
}

.product-quantity-sold{
    width:25%;
    display:flex;
    justify-content: center;
}

.product-earnings{
    width: 25%;
    display:flex;
    justify-content: center;
}

.product-price{
    width: 25%;
    display: flex;
    justify-content: center;
}

.product-profit-p{
    margin:0;
    margin-left: 25%;
}

.product-sold-quantity-p{
    margin:0;
    margin-left: 45%;
}

.product-name-p{
    margin:0;
    margin-left: 20%;
}