.business-details-container{
    width: 85%;
    position: absolute;
    left: 15%;
    top: 3.8rem;
    min-height: 90%;

}

.business-details-pie-chart-labels-container{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    box-shadow: 10px 5px 5px gray;
    justify-content: flex-end;
}

.business-details-pie-chart-labels-ul{

    width: 40%;
    padding-left: 0;
    min-width: none;
}

.business-details-pie-chart-prices-ul{
    width: 50%;
    margin-right: 2%;
    padding-left:0
}

.business-details-pie-chart-li{

    width: 100%;
    border-bottom: 1px solid black;
}

.business-details-pie-chart-li{
    display: flex;
}

.business-details-pie-chart-color-div{
    width: .5rem;
}

.business-details-h4{
    margin: 0;
    width: 100%;
    background-color: rgba(96, 192, 131, 0.76);
}

.price-label{
    width: 100% ;
    display: flex;
    justify-content: flex-end;
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.yellowgreen{
    background-color: yellowgreen;
}

.orange{
    background-color: orange;
}

.orangered{
    background-color: orangered;
}

.blue{
    background-color: blue;
}

.lightblue{
    background-color: lightblue;
}

.lightyellow{
    background-color: lightyellow;
}

