.business-details{
    width: 85%;
    height: 100%;
    top:3.8rem;
    left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}

.add-product-window{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.2);
}
.detail-categories{
    background-color: greenyellow;
    border: 1px solid rgb(114, 202, 56);
}
.row1{
    display: flex;
}

.button-text{

    margin: 0;
}

.products-card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    width: 55%;
    height: 60%;
    margin-left: 3%;
    margin-top: 2%;
    background-color: rgb(233,233,233);
    box-shadow: 5px 5px 5px black;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

.new-product-card{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: flex-end;
        align-items: flex-start;
        width: 70%;
        height: 30%;
        margin-left: 20%;
        margin-top: 20%;
        background-color: rgb(233,233,233);
        box-shadow: 5px 5px 5px black;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-left: 1px solid rgba(0,0,0,0.1);
}

.products-container{
    height: 80%;
    width: 93%;
    margin: 0;
    margin-right: 3.5%;
    overflow-y: scroll;
    background-color: white;
}

.product-text{
    margin:0;
    height:2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.title{
    width: 100%;
    height: 8%;
    margin: 0;
    background-color: rgba(119, 182, 143, 0.822);
}

.button{
    height: 7%;
    width: 30%;
}
.last-tickets-generated{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    height: 60%;
    margin-top: 2%;
    margin-left: 6%;
    background-color: rgb(233,233,233);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px black;
}

.add-sold-item-button{
    margin-left: 10%;
    max-height:25px;
    min-width: none;
}
.add-sold-item{

    margin:0;
    margin-left:3%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: min-content;
    max-width: 935px;
    width:100%;
    background-color:rgb(233,233,233);
    box-shadow: 5px 5px 5px black;
}

.add-sold-item-title{
    margin: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(119, 182, 143, 0.822);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

.new-sale-component{
    position: relative;
    display: flex;
    min-width: none;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 3.5%;
}

.form-container{

    display: flex;
    width: 100%;
    padding-top: 1%;
    min-width: none;
    justify-content: flex-start;
    align-items: center;
    height: min-content;
}

.button-container{

    display: flex;
    height: 100%;
    width: max-content;
    justify-content: center;

}

.new-sold-item-error{
    margin: 0;
    display: none;
    color: red;
}

.new-sale-input{
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
}

.details-container{
    display:flex;
    width: 100%;
    background-color: rgb(124, 124, 124);
}

.detail{
    margin:0;
    width:25%;
}

.tickets-container{

    width: 90%;
    height: 92%;
    margin: 0;
    overflow-y: scroll;
    background-color: white;
}

.add-products-button{
    align-self: flex-end;
}

.new-product-input-container{
    display: flex;
    width: 100%;
    height: 41%;
    justify-content: center;

}

.new-product-input-container2{
    display: flex;
    height:100%;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}
.new-product-label{
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: 25%;
}

.new-product-title{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background: rgba(119, 182, 143, 0.822);
}

.new-product-exit-button{
    all:unset;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width:5%;
    margin-right: 35%;
    background: rgba(93, 146, 113, 0.822);
}

.new-product-exit-button:hover{
    cursor: pointer;
}
.new-product-input{
    display: flex;
    width: 50%;
    height: 15%;
    align-items: center;
}

.error-paragraph{
    display: none;
    color: red;
    margin: 0;
    margin-right: 20%;

}