.navbar{
    display: flex;
    position: fixed;
    height: 3.8rem;
    width: 100%;
    background-color: lightblue;
    z-index: 10;
}

.topbar-divider{
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.img-profile{
    width: 100%;
    height: 100%;
    margin-right: 2.5rem;
    border-radius:50%;

}


.text-gray-600 {
    color: #858796 !important;
}

.navbar-nav{
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-bottom: 5px;
}

ul{
    list-style-type: none;
    height: 100%;
}

.right-content{
    display: flex;
    justify-content: flex-end;
    width: 33.33%;
    height: 60px;
    position: relative;
}

.user-ham-menu{
    display: flex;
    justify-content: right;
    width: 20%;
    height: 100%;
}

.user-options{

    display: none;
    flex-wrap: wrap;
    position: absolute;
    width: 10rem;
    padding-left: 0px;
    top: 3.8rem;
    border: 1px solid rgba(128, 128, 128, 0.7);
    list-style-type: none;
    z-index: 10;
    background-color: grey;
}

.user-options-li{
    display: block;
    text-align: center;
    width:100%;
    height: 50%;
    border-bottom: 1px solid rgba(222, 222, 222, 0.7);
}

.user-options-last-li{
    display: block;
    text-align: center;
    width:100%;
    height: 50%;
}

.user-options-li:active{
    background-color: rgba(56, 56, 56, 0.7);
}
.user-options-last-li:active{
    background-color: rgba(56, 56, 56, 0.7);
}

.user-ham-menu:hover .user-options{

    display: flex;
}


.separator{
    width: 33.33%;
}


.logo-container{
    display:flex;
    width:33.33%;
    align-items: center;
}

.logo{
    width:55px;
    height:55px;
    border-radius: 50%;
    margin-right:5px;
}

.logo-text{
    min-width: 100px;
    color:rgba(56, 56, 56, 0.7);
}

.ham-menu-link{
    all:unset;
    cursor: pointer;
    display: block;
    width: 100%;

}

.ham-menu-link:active{

    color: lightgray;
}

.navBar-logo-link{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}