.business{
    border: 1px solid rgba(220, 231, 245, 0.822);
    display: flex;
    flex-wrap: wrap;
    height: 47.5%;
    width: 100%;
}

.clean-link{
    color: black;
    text-decoration: none;
}

.bData{
    display: block;
    width: 100%;
    height: 90%;
}

.business-product-sales-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.sales-title{
    display: flex;
    width: 100%;
    margin:0;
    padding: 0;
    background-color: rgb(236, 236, 191);
}
.sales-title-column{
    margin: 0;
    width: 25%;
    max-height: 25px;
}

.business-products-li{
    margin-left: 3%;
    height: min-content;
    display: flex;
    align-items: center;
}

.bName{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin:0px;
    background-color: rgba(96, 192, 131, 0.76);
    border-bottom: 1px solid rgba(220, 231, 245, 0.822) ;
    
}

.last-sales{
    margin: 0;
    height: 8%;
    background-color: lightyellow;
}

.bIncome{  

    display: flex;

    width: 100%;
    height: 2rem;
    max-height: 2rem;
    margin: 0px;
    background-color: rgb(245, 245, 245);
}

.business-products-container{
    display: block;
    width: 100%;
    height: 100%;
}

.products-title{
    background-color: rgba(229, 240, 255, 0.822);
    margin: 0;

}

.bName:hover
{
    background-color: rgba(119, 182, 143, 0.8);
    cursor: pointer;
}


